@use '../../../../../config/spacing' as spacing;

:host {
  display: block;
}

.about-info {
  background-color: var(--secondary-bg);
  padding: spacing.$spacing-medium;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
  height: fit-content;

  @media print {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
  }

  h3 {
    margin-top: 0;
    border-bottom: 1px solid var(--text-disabled);
    padding-bottom: spacing.$spacing-xx-small;
  }
}

.info-list {
  list-style: none;
  padding: 0;
  margin: 0 0 spacing.$spacing-large 0;

  li {
    margin-bottom: spacing.$spacing-small;
    font-size: 0.9rem;

    @media print {
      margin-bottom: 4pt;
    }

    strong {
      display: block;
      color: var(--text-disabled);
      font-size: 0.8rem;
    }

    .info-link {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: var(--accent);
        text-decoration: underline;
      }
    }
  }
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0 0 spacing.$spacing-large 0;

  li {
    margin-bottom: spacing.$spacing-small;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: help;
  }

  .skill-dots {
    display: flex;
    gap: 4px;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--text-disabled);
      opacity: 0.3;

      @media print {
        border: 1px solid #000; // Better visibility in print
        background-color: transparent;

        &.filled {
          background-color: #000;
        }
      }

      &.filled {
        background-color: var(--accent);
        opacity: 1;
      }
    }
  }
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: spacing.$spacing-small;

  .tag {
    background-color: var(--primary-bg);
    border: 1px solid var(--text-disabled);
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.8rem;

    @media print {
      background-color: transparent;
      border: 1px solid #000;
    }
  }
}
