<header class="navbar" [class.is-sticky]="isSticky()">
  <div class="profile-picture">
    <img [src]="profile().profilePicturePath" alt="Profile picture" />
  </div>
  <div class="profile-content">
    <h1>{{ profile().name }}</h1>
    <h2>{{ profile().title }}</h2>
    <p class="profile-summary">{{ profile().summary }}</p>
    <nav>
      <ul>
        <li>
          <a
            routerLink="/experience"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ 'NAVBAR.EXPERIENCE' | translate }}
          </a>
        </li>
        <li>
          <a
            routerLink="/education"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ 'NAVBAR.EDUCATION' | translate }}
          </a>
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ 'NAVBAR.ABOUT' | translate }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="navbar-controls">
    <app-language-switch></app-language-switch>
    <app-theme-switch></app-theme-switch>
  </div>
</header>
