<header class="navbar">
  <div class="profile-picture">
    <img [src]="profile().profilePicturePath" alt="Profile picture" />
  </div>
  <div class="profile-content">
    <h1>{{ profile().name }}</h1>
    <h2>{{ profile().title }}</h2>
    <p>{{ profile().summary }}</p>
    <nav>
      <ul>
        <li>
          <a
            routerLink="/experience"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Expériences
          </a>
        </li>
        <li>
          <a
            routerLink="/education"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Études &amp; Diplômes
          </a>
        </li>
        <li><a href="#" class="disabled">About</a></li>
      </ul>
    </nav>
  </div>
</header>
