@use 'spacing' as spacing;

:host {
  display: block;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 32px;
  position: relative;
  width: 60px;

  input {
    display: none;
  }
}

.slider {
  background-color: var(--secondary-bg);
  inset: 0;
  cursor: pointer;
  position: absolute;
  transition: 0.4s;
  border: 1px solid var(--accent);
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;

  &::before {
    background-color: var(--accent);
    content: '';
    height: 24px;
    width: 24px;
    left: 4px;
    top: 4px;
    position: absolute;
    transition: 0.4s;
    border-radius: 50%;
    z-index: 2;
  }

  .icon {
    font-size: 14px;
    line-height: 1;
    z-index: 1;
    color: var(--text);
    transition: color 0.4s;
    user-select: none;
  }
}

input:checked + .slider {
  &::before {
    transform: translateX(28px);
  }
}
