@use 'spacing' as spacing;

@mixin resume-entry-keywords {
  &__keywords-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: spacing.$spacing-small;
  }

  &__keywords {
    display: flex;
    flex-wrap: wrap;
    gap: spacing.$spacing-x-small;
    justify-content: flex-end;
  }

  &__keyword {
    font-size: 0.75rem;
    padding: 2px 10px;
    border: 1px solid var(--accent);
    color: var(--accent);
    border-radius: 12px;
    white-space: nowrap;
    transition: all 200ms ease;
    cursor: default;

    &:hover {
      background-color: var(--accent);
      color: var(--primary-bg);
    }
  }
}
