$palette-dark: (
  primary-bg: #212529,
  secondary-bg: #343a40,
  accent: #0d6efd,
  text: #f8f9fa,
  text-disabled: #999,
);

$palette-light: (
  primary-bg: #ffffff,
  secondary-bg: #e0e0e4,
  accent: #0d6efd,
  text: #212529,
  text-disabled: #6c757d,
);
