$spacing-xx-small: 4px;
$spacing-x-small: 8px;
$spacing-small: 12px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-x-large: 32px;
$border-radius-standard: 8px;
$shadow-standard:
  0 4px 6px -1px rgb(0 0 0 / 10%),
  0 2px 4px -2px rgb(0 0 0 / 10%);
