@use '../../../../../config/spacing' as spacing;

.experience-item {
  padding: spacing.$spacing-medium;
  background-color: var(--secondary-bg);
  border-radius: spacing.$border-radius-standard;
  transition: all 300ms ease-in-out;
  border-left: 4px solid var(--accent);

  &:hover {
    box-shadow: spacing.$shadow-standard;
    transform: translateY(-2px);
  }

  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: spacing.$spacing-medium;
    flex-wrap: wrap;
    gap: spacing.$spacing-small;

    .title-company {
      h3 {
        margin: 0;
        font-size: spacing.$spacing-large;
        color: var(--text);
      }

      .company {
        font-weight: bold;
        color: var(--accent);
      }
    }

    .location-date {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 0.875rem;
      color: var(--text);

      @media (width <= 600px) {
        align-items: flex-start;
      }
    }
  }

  .description {
    margin: 0;
    padding-left: spacing.$spacing-large;
    list-style-type: square;

    li {
      margin-bottom: spacing.$spacing-x-small;
      line-height: 1.5;
      color: var(--text);
    }
  }
}
