// src/app/config/_spacing.scss

// Spacing Variables based on docs/style.md
$spacing-xx-small: 4px;
$spacing-x-small: 8px;
$spacing-medium: 16px; // 1rem
$spacing-large: 24px; // 1.5rem
$spacing-x-large: 32px; // 2rem

$border-radius-standard: 8px; // Standard Radius from docs/style.md
