<article class="experience-card">
  <header class="experience-card__header">
    <div class="experience-card__row">
      <h3 class="experience-card__title">{{ experience().title }}</h3>
      <span class="experience-card__location">{{ experience().location }}</span>
    </div>

    <div class="experience-card__row">
      <span class="experience-card__company">{{ experience().company }}</span>
      <span class="experience-card__dates">
        {{ experience().startDate }} - {{ experience().endDate }}
        @if (duration()) {
          ({{ duration() }})
        }
      </span>
    </div>
  </header>

  @if (experience().keywords; as keywords) {
    <div class="experience-card__keywords-container">
      <div class="experience-card__keywords">
        @for (keyword of keywords; track keyword) {
          <span class="experience-card__keyword">{{ keyword }}</span>
        }
      </div>
    </div>
  }

  <hr class="experience-card__separator" />

  <div class="experience-card__content">
    @for (mission of experience().missions; track mission.title) {
      <div class="experience-card__mission">
        <h4 class="experience-card__mission-title">{{ mission.title }}</h4>
        <div
          class="experience-card__mission-description"
          [innerHTML]="mission.description | markdown"
        ></div>
      </div>
    }
  </div>
</article>
